{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container mx-auto text-center">
    <h1 class="display-1">Login</h1>
</div>

<div class="container mx-auto">

    <form method="post" class="form">
        {% csrf_token %}
        {{ form | crispy }}
        {% if next %}
            <input type="hidden" name="next" value="{{ next }}" />
        {% endif %}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
{% endblock %}