{% extends 'base.html' %}

{% block title %}
View Order {{ order.id }}
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-1">View Order #{{ order.id }}</h1>
</div>

<div class="container">
    <p>Order Status: <b>{{ order.order_status }}</b></p>
    <p>Order Date: <b>{{ order.order_date }}</b></p>
</div>

<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td scope="col">Product</td>
                <td scope="col">Quantity</td>
                <td scope="col">Price</td>
                <td scope="col">Total</td>
            </tr>
        </thead>
        <tbody>
            {% for order_item in order_items %}
                <tr>
                    <td>{{ order_item.product.name }}</td>
                    <td>{{ order_item.quantity }}</td>
                    <td>{{ order_item.product.price }}</td>
                    <td>{{ order_item.total_price }}</td>
                </tr>
            {% endfor %}
                <tr>
                    <td colspan="4"></td>
                </tr>
                <tr>
                    <td colspan="3" class="text-center">GRAND TOTAL</td>
                    <td class="text-center fw-bold">{{ order.order_total }}</td>
                </tr>
        </tbody>
    </table>
</div>
{% endblock %}